* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background: #EFF2F9;
}

.card {
    width: 1170px;
    height: 800px;
    background: #FFF;
    box-shadow: 20px 20px 40px 0px rgba(81, 91, 117, 0.25);
    padding: 60px 0 70px;
}

.product-image-block{
    border-right: 2px solid rgba(20, 20, 20, 0.15);
    width: 540px;
    
}